.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.flag {
    font-family: 'Courier New', Courier, monospace;
    background-color: #FF719F;
    padding: 1em 0;
    margin: 1em;
    flex: 1 1 30%;
    color: white;
    font-weight: bold;
    text-align: center;
}