main{
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    font-size: 50px;
    padding: 15px 45px;
    border: none;
    cursor: pointer;
    background-color:aquamarine;
    color: white;
    transition: 250ms ease-in-out;
}
button:hover{
    background-color: aqua;
}